ul.menu, ul.menu ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
}
ul.menu li ul {
  display: none;
  position: absolute;
}
ul.menu > li:hover > ul {
  display: block;
}
ul.menu li {
  float: left;
}
ul.menu a {
  padding: 10px;
  color: #fff;
  background-color: cornflowerblue;
  text-decoration: none;
  display: block;
}
ul.menu a:hover {
  background-color: #3162ba;
}
ul.menu > li > ul > li > a{
  background-color: black;
}
